
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p{
	font-weight: bolder;
	padding: 10px;
	color: green;
	background-color: black;
	transition: all 1s linear;
}
p:nth-child(1){
	color: black;
	background-color: green;
}
