@charset "UTF-8";

@media screen{

body{
    background-color: darkgray;
    padding: 0px;
    margin: 0px;
}

header{
    background-color: gray;
    padding: 20px;
    margin: 0px;
    text-align: center
}

h1, h2{
    font-variant: small-caps
}

a{
    margin:10px
}
p{

    margin: 0px 30px 10px 30px
}

h2{
    text-align: center;

}

main{
    font-family: serif;
}

footer{
    color: transparent;
    text-shadow: 0px 0px 1px black
}

#gt{
    margin: 20px;
    text-align: center
}
}

